@using Microsoft.AspNetCore.Components
@namespace test_blazor_web_app.Components

<div class="gauge-container">
    <div class="gauge @(HasTemp == true ? "has-temp" : null)" style="width: @(SizeInPx)px; height: @(SizeInPx)px;">
        <div class="gauge__background"></div>

        @if (HasTemp == true)
        {
            <div class="gauge__temp" style="width: @(SizeInPx)px; height: @(SizeInPx)px;" />
        }

        @if (MinRange.HasValue && MaxRange.HasValue)
        {
            <div class="gauge__range-container" style="width: @(SizeInPx*1.05)px; height: @(SizeInPx*1.05)px;">
                <div class="gauge__range" style="
                        background: conic-gradient(from @RangeStartDegree, @(RangeColor) @RangeSweep, transparent 0);
                        transform: rotate(180deg);">
                </div>
            </div>
        }

        <div class="gauge__meter"
            style="transform: translate(0%, -100%) rotate(@NeedleDegree); height: @(SizeInPx * 0.35)px;"></div>

        <div class="gauge__ticks" style="top:calc(50% - @((SizeInPx * 0.35) / 7)px)">
            @foreach (var label in Labels)
            {
                <div class="gauge__tick"
                    style="transform: rotate(@label.Degree) translateY(-@((SizeInPx/2) - (SizeInPx * 0.05))px); height: @(SizeInPx * 0.05)px;">
                    @label.Value</div>
            }
        </div>

        <div class="gauge__subticks" style="top: calc(50% - @((SizeInPx * 0.03))px);">
            @foreach (var subTick in SubTicks)
            {
                <div class="gauge__subtick"
                    style="transform: rotate(@subTick.Degree) translateY(-@((SizeInPx/2) - (SizeInPx * 0.03))px); height: @(SizeInPx * 0.03)px;">
                </div>
            }
        </div>

        <div class="gauge__info" style="max-width: @(SizeInPx/4)px;">
            <div class="gauge__value" style="font-size: @(SizeInPx * 0.07)px; bottom: 15%;">
                @Value @UnitLabel
            </div>
            <div style="font-size: @(SizeInPx * 0.05)px; top: 35%;">
                @LabelText
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public int MaxValue { get; set; } = 120;
    [Parameter] public int MinValue { get; set; } = 0;
    [Parameter] public int SizeInPx { get; set; } = 300;
    [Parameter] public int Value { get; set; } = 0;
    [Parameter] public string UnitLabel { get; set; }
    [Parameter] public bool? HasTemp { get; set; }
    [Parameter] public string LabelText { get; set; }
    [Parameter] public int? MinRange { get; set; }
    [Parameter] public int? MaxRange { get; set; }
    [Parameter] public string? RangeColor { get; set; } = "#00ff00";

    private string NeedleDegree => $"{-135 + ((Value - MinValue) * 270 / (MaxValue - MinValue))}deg";  
    private string RangeStartDegree => $"{45 + ((MinRange.GetValueOrDefault(MinValue) - MinValue) * 270 / (MaxValue - MinValue))}deg";    private string RangeSweep => $"{((MaxRange.GetValueOrDefault(MaxValue) - MinRange.GetValueOrDefault(MinValue)) * 270 / (MaxValue - MinValue))}deg";
    private string RangeRotation => $"{-135}deg";

    private List<GaugeLabel> Labels { get; set; }
    private List<GaugeSubTick> SubTicks { get; set; }

    protected override void OnInitialized()
    {
        Labels = Enumerable.Range(0, (MaxValue - MinValue) / 20 + 1)
        .Select(i => new GaugeLabel
            {
                Value = (MinValue + i * 20).ToString(),
                Degree = $"{-135 + ((MinValue + i * 20 - MinValue) * 270 / (MaxValue - MinValue))}deg"
            })
        .ToList();

        SubTicks = Enumerable.Range(1, ((MaxValue - MinValue) / 10) - 1)
        .Select(i => new GaugeSubTick
            {
                Degree = $"{-135 + ((MinValue + i * 10 - MinValue) * 270 / (MaxValue - MinValue))}deg"
            })
        .ToList();

        if(MinValue > MaxValue) 
        {
            throw new ArgumentException("MinValue cannot be greater than MaxValue");
        }
        if(MinRange != null && MaxRange != null)
        {
            if(MinRange < MinValue || MaxRange > MaxValue)
            {
                throw new ArgumentException("MinRange and MaxRange must be between MinValue and MaxValue");
            }
            if(MinRange > MaxRange)
            {
                throw new ArgumentException("MinRange cannot be greater than MaxRange");
            }
        } 
    }

    private class GaugeLabel
    {
        public string Value { get; set; }
        public string Degree { get; set; }
    }

    private class GaugeSubTick
    {
        public string Degree { get; set; }
    }
}
