@using DevExpress.Blazor
@inject IJSRuntime JS
@using System.Globalization

<div class="controls">
    <button class="btn btn-primary" @onclick="TogglePlayPause">
        <i class="bi @PlayPauseIcon"></i>
    </button>
    <button class="btn btn-danger" @onclick="Stop">
        <i class="bi bi-stop"></i>
    </button>
    <div class="slider-container">
        <input type="range" min="0" max="@MaxSliderPoints" value="@CurrentSliderIndex" @oninput="@(e => Seek(e))"
            class="timeline-slider" />
        <div class="slider-label" style="left: @((CurrentSliderIndex / (double)MaxSliderPoints) * 100)%">
            @SliderDate.ToString("g", CultureInfo.InvariantCulture)
        </div>
    </div>
</div>

@code {

    private string PlayPauseIcon => _isPlaying ? "bi-pause" : "bi-play";
}