@namespace CustomDashboard.Components

@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components
@using System.Collections.ObjectModel
@inject IJSRuntime JSRuntime


@if (Item != null)
{
    <div class="modal d-block" id="exampleModal" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adding new widget</h5>
                    <button @onclick="CloseAndResetModal" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@Item" OnValidSubmit="@OnSubmitNewItem" style="width: 85%" class="mx-auto mb-4 mt-2">
                        <DataAnnotationsValidator />
                        <div class="d-flex gap-3 flex-column">
                            <div>
                                <label for="name" class="form-label d-block">Name</label>
                                <InputText autofocus class="w-100" id="name" @bind-Value="@Item.Name" required />
                            </div>
                            <div>
                                <p class="mb-2">
                                    Size (X, Y)
                                    <span data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="How many cells in the grid this widget will take up">
                                        <i class="bi bi-info-circle px-1" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-trigger="hover" data-bs-container="body"
                                            data-bs-delay="{ 'show': 50, 'hide': 100}"></i>
                                    </span>
                                </p>
                                <div class="d-grid gap-1 flex-column" style="grid-template-columns: repeat(3, 1fr);">
                                    <div>
                                        <input type="radio" name="size" id="size-1x1" value="(1, 1)"
                                            @onclick="@(() => ChangeFocusSize(1, 1))"
                                            checked="@((Item.Size.X == 1 && Item.Size.Y == 1))" />
                                        <label for="size-1x1">1x1</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="size" id="size-1x2" value="(1, 2)"
                                            @onclick="@(() => ChangeFocusSize(1, 2))"
                                            checked="@((Item.Size.X == 1 && Item.Size.Y == 2))" />
                                        <label for="size-1x2">1x2</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="size" id="size-2x2" value="(2, 2)"
                                            @onclick="@(() => ChangeFocusSize(2, 2))"
                                            checked="@((Item.Size.X == 2 && Item.Size.Y == 2))" />
                                        <label for="size-2x2">2x2</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="size" id="size-3x3" value="(3, 3)"
                                            @onclick="@(() => ChangeFocusSize(3, 3))"
                                            checked="@((Item.Size.X == 3 && Item.Size.Y == 3))" />
                                        <label for="size-3x3">3x3</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="size" id="size-2x3" value="(2, 3)"
                                            @onclick="@(() => ChangeFocusSize(2, 3))"
                                            checked="@((Item.Size.X == 2 && Item.Size.Y == 3))" />
                                        <label for="size-2x3">2x3</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="size" id="size-4x4" value="(4, 4)"
                                            @onclick="@(() => ChangeFocusSize(4, 4))"
                                            checked="@((Item.Size.X == 4 && Item.Size.Y == 4))" />
                                        <label for="size-4x4">4x4</label>
                                    </div>
                                </div>
                            </div>
                            <pre>@JsonConvert.SerializeObject(OriginalItem, Formatting.Indented)</pre>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public CustomDashboardInstance Instance { get; set; }

    [Parameter]
    public CustomDashboardItem Item { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback<CustomDashboardItem> OnItemChanged { get; set; }

    private CustomDashboardItem OriginalItem { get; set; }

    private async Task ChangeFocusSize(int x, int y)
    {
        Item.Size = (x, y);
        await OnItemChanged.InvokeAsync(Item);
        await InvokeAsync(StateHasChanged);
    }

    private async Task CloseModal()
    {
        Item = OriginalItem;
        await OnClose.InvokeAsync();
        await InvokeAsync(StateHasChanged);
    }
    private async Task CloseAndResetModal()
    {
        await ChangeFocusSize(1, 1);
        Item = OriginalItem;
        await OnClose.InvokeAsync();
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSubmitNewItem()
    {
        try
        {
            // Check if new item exceeds the maxX or maxY value
            if ((Item.Position.X + Item.Size.X > Instance.MaxX) || (Item.Position.Y + Item.Size.Y >
            Instance.MaxY))
            {
                throw new InvalidOperationException("Cannot add item. It exceeds the maximum allowed dimensions.");
            }

            // Check for overlap before making changes
            if (CheckOverlap(Item))
            {
                throw new InvalidOperationException("Cannot add item. It overlaps with existing items.");
            }

            Item.IsAvailable = false;
            List<CustomDashboardItem> itemsToRemove = new List<CustomDashboardItem>();

            // Remove overlapping items
            if (Item.Size.X > 1 || Item.Size.Y > 1)
            {
                for (int x = Item.Position.X; x < Item.Position.X + Item.Size.X; x++)
                {
                    for (int y = Item.Position.Y; y < Item.Position.Y + Item.Size.Y; y++)
                    {
                        CustomDashboardItem itemToRemove = Instance.Items.FirstOrDefault(i =>
                        i.Position.X == x && i.Position.Y == y && i.Id != Item.Id);

                        if (itemToRemove != null)
                        {
                            itemsToRemove.Add(itemToRemove);
                        }
                    }
                }
            }

            foreach (var item in itemsToRemove)
            {
                Instance.Items.Remove(item);
            }

            // Add the new item if it's not found in the list
            if (Instance.Items.IndexOf(Item) < 0)
            {
                Instance.Items.Add(Item);
            }
            else
            {
                int index = Instance.Items.IndexOf(Item);
                Instance.Items[index] = Item;
            }

            await OnItemChanged.InvokeAsync(Item);
            await CloseModal();
            await InvokeAsync(StateHasChanged);

        }
        catch (Exception e)
        {
            Console.WriteLine("OnSubmitNewItem: " + e);
            // Show browser alert for the exception message
            await JSRuntime.InvokeVoidAsync("alert", e.Message);
        }
    }

    private bool CheckOverlap(CustomDashboardItem newItem)
    {
        // Determine the end positions for the new item
        int endX = newItem.Position.X + newItem.Size.X - 1;
        int endY = newItem.Position.Y + newItem.Size.Y - 1;

        // Check if any of the positions required by the new item are not available
        for (int x = newItem.Position.X; x <= endX; x++)
        {
            for (int y = newItem.Position.Y; y <= endY; y++)
            {
                var overlappingItem = Instance.Items.FirstOrDefault(i =>
                i.Position.X <= x && x <= i.Position.X + i.Size.X - 1 &&
                i.Position.Y <= y && y <= i.Position.Y + i.Size.Y - 1 && !i.IsAvailable);

                if (overlappingItem != null)
                {
                    return true; // Overlap detected
                }
            }
        }

        return false; // No overlap detected
    }

    protected override void OnInitialized()
    {
        OriginalItem = new CustomDashboardItem()
            {
                Id = Item.Id,
                IsAvailable = Item.IsAvailable,
                Name = string.Empty,
                Position = Item.Position,
                Size = (1, 1)
            };
    }
}
