@using CustomDashboard.Components
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components
@using System.Collections.ObjectModel
@inject IJSRuntime JSRuntime

@namespace CustomDashboard.Components


<style>
    .grid-item {
        min-width: 300px;
        min-height: 150px;
    }

    .grid-item.selected .card {
        border-color: #9b6cd1 !important;
        background-color: #9b6cd1 !important;
        z-index: 10;
    }

    .grid-item.selected .card #custom-dashboard-add-widget>span {
        display: none;
    }
</style>

@if (Instance != null && Instance.Items != null)
{
    <div style="overflow-x: auto; position: relative; max-width:100%; overflow-y: hidden; padding: 10px 5px;">
        <div>
            <div class="grid-container"
                style="display: grid; grid-template-columns: repeat(@Instance.MaxX, 1fr); gap: 5px;">
                @foreach (CustomDashboardItem item in Instance.Items)
                {
                    <div class="grid-item @(ActiveAddWidget == item ? "selected" : null)" style="@GenerateGridItemStyles(item)">
                        @if (Instance.IsEditing && item.IsAvailable)
                        {
                            <div class="card relative"
                                style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: rgba(0,0,0,0.04)">
                                <AddWidgetTeaser SetActiveAddWidget="@((e) => { ActiveAddWidget = item; })" />
                            </div>
                        }
                        else
                        {
                            <div class="card @(item.IsAvailable == true && Instance.IsEditing == false ? "opacity-0" : null)"
                                style="width: 100%; height: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title no-select">@item.Name</h5>
                                    @if (Instance.IsEditing)
                                    {
                                        <div style="position: absolute; top: 4px; right: 4px; display: flex;">
                                            <span @onclick="@(() => DeleteItemAsync(item))" class="badge bg-primary"
                                                style="cursor: pointer;">
                                                <i title="Delete" class="bi bi-trash"></i>
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    @if (ActiveAddWidget != null)
    {
        <AddWidgetModal Instance="@Instance" Item="ActiveAddWidget"
            OnClose="@(() => { ActiveAddWidget = null; StateHasChanged(); })" OnItemChanged="@OnItemChanged" />
        <pre>@JsonConvert.SerializeObject(ActiveAddWidget, Formatting.Indented)</pre>
    }
    <pre>@JsonConvert.SerializeObject(Instance.Items, Formatting.Indented)</pre>
}

@code {
    [Parameter] public CustomDashboardInstance Instance { get; set; }

    private CustomDashboardItem _activeAddWidget;

    private CustomDashboardItem ActiveAddWidget
    {
        get => _activeAddWidget;
        set
        {
            if (_activeAddWidget != value)
            {
                _activeAddWidget = value;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    private string GenerateGridItemStyles(CustomDashboardItem item)
    {
        int gridColumnStart = item.Position.X + 1; // Convert to 1-based index for CSS grid
        int gridRowStart = item.Position.Y + 1; // Convert to 1-based index for CSS grid
        int gridColumnEnd = Math.Min(gridColumnStart + item.Size.X - 1, Instance.MaxX);
        int gridRowEnd = Math.Min(gridRowStart + item.Size.Y - 1, Instance.MaxY);

        if (gridColumnStart > Instance.MaxX || gridRowStart > Instance.MaxY)
        {
            return "display: none;";
        }

        return $"grid-column: {gridColumnStart} / {gridColumnEnd + 1}; grid-row: {gridRowStart} / {gridRowEnd + 1};";
    }

    private async Task DeleteItemAsync(CustomDashboardItem item)
    {
        try
        {
            if (item == null)
            {
                throw new ArgumentNullException(nameof(item));
            };

            (int x, int y) position = item.Position;
            (int width, int height) size = item.Size;

            List<CustomDashboardItem> itemsToAdd = new List<CustomDashboardItem>();

            for (int i = position.x; i < position.x + size.width; i++)
            {
                for (int j = position.y; j < position.y + size.height; j++)
                {
                    if (i < Instance.MaxX && j < Instance.MaxY)
                    {
                        CustomDashboardItem newItem = new CustomDashboardItem
                            {
                                Id = Guid.NewGuid(),
                                Position = (i, j),
                                Size = (1, 1),
                                Name = string.Empty,
                                IsAvailable = true
                            };
                        itemsToAdd.Add(newItem);
                    }
                }
            }

            foreach (var newItem in itemsToAdd)
            {
                Instance.Items.Add(newItem);
            }

            Instance.Items.Remove(item);

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            throw new Exception("Error deleting item", ex);
        }
    }

    protected override void OnInitialized()
    {
        // You can log the values here to verify they are correct
        Console.WriteLine($"Initialized with MaxX = {Instance.MaxX}, MaxY = {Instance.MaxY}");

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Always call the base method at the end
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnItemChanged(CustomDashboardItem item)
    {
        ActiveAddWidget = item;
        await InvokeAsync(StateHasChanged);
    }
}
